@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import url('https://fonts.googleapis.com/css?family=Lobster');
*,*:before, *:after{
	padding:0;
	margin:0;
}
body{
	background: #666;
	font-family: 'Indie Flower', cursive;
}
section{
	position: absolute;
	padding-left: 300px;
}
ul{
    position: absolute;
    top:0;
    right: :0;
    bottom::0;
    left:0;
    margin: auto;
    list-style: none;
    width: 1000px;
    height: 450px;
    border-radius:3px;
    overflow:hidden;
    box-shadow:1px 1px 3px #7d7d7d;
    padding-left: 135px;
}
li{
	position: relative;
	width:190px;
	height:450px;
	float:left;
	border-left: 1px solid #fff;
	transition: all 0.7s;
	box-shadow: -2px 0 10px #7d7d7d;
}
ul li:first-child{
	border:none;
}
span{
    display: block;
    position: absolute;
    bottom: 0;
    width: 50%;
    color:#fff;
    font-size:30px;
    padding: 20px;
    background:linear-gradient(to right, rgba(0,0,0,0.65)0%, rgba(0,0,0,0)100%);
}
img{
    width: 800px;
    height: 450px;
}
ul:hover li {
	width: 50px;
}
ul li:hover{
	width: 750px;
}
h1{
	color: #00FFFF;
	font-size:65px;
	position: relative;
	padding-top: 75px;
	padding-left: 500px;
	font-family: 'Lobster', cursive;
}